<div class="section" id="breadcrumb">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb-tree">
            <li><a href="/">Trang Chủ</a></li>
            <li>Liên Hệ</li>
          </ul>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
<!-- SECTION -->
	<!-- //page -->
	<!-- contact -->
	<div class="contact py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>L</span>iên
				<span>H</span>ệ
			</h3>
			<!-- //tittle heading -->
			<div class="row contact-grids agile-1 mb-5">
				<div class="col-sm-4 contact-grid agileinfo-6 mt-sm-0 mt-2">
					<div class="contact-grid1 text-center">
						<div class="con-ic">
							<i class="fas fa-map-marker-alt rounded-circle"></i>
						</div>
						<h4 class="font-weight-bold mt-sm-4 mt-3 mb-3"> <i class="fa fa-address-book"></i> &nbsp;Địa chỉ</h4>
						<p> 331 QL1A, An Phú Đông, Quận 12,
							<label>Thành phố Hồ Chí Minh.</label>
						</p>
					</div>
				</div>
				<div class="col-sm-4 contact-grid agileinfo-6 my-sm-0 my-4">
					<div class="contact-grid1 text-center">
						<h4 class="font-weight-bold mt-sm-4 mt-3 mb-3"> <i class="fa fa-phone"></i> &nbsp;HotLine</h4>
						<p>1900 2039 - 0906 298 300 </p>
						
					</div>
				</div>
				<div class="col-sm-4 contact-grid agileinfo-6">
					<div class="contact-grid1 text-center">
						<h4 class="font-weight-bold mt-sm-4 mt-3 mb-3"> <i class="fa fa-envelope"></i> &nbsp;Email</h4>
						<p>
								<a href="mailto:info@example.com"> tuyensinh@ntt.edu.vn</a>
		                        -
								<a href="mailto:info@example.com">ntt@ntt.edu.vn</a>
						</p>
					</div>
				</div>
			</div>
			<!-- form -->
			<form action="#" method="post">
				<div class="contact-grids1 w3agile-6">
					<div class="row">
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">Họ Tên</label>
							<input type="text" class="form-control" name="Name" placeholder="" required="">
						</div>
						<div class="col-md-6 col-sm-6 contact-form1 form-group">
							<label class="col-form-label">E-mail</label>
							<input type="email" class="form-control" name="Email" placeholder="" required="">
						</div>
					</div>
					<div class="contact-me animated wow slideInUp form-group">
						<label class="col-form-label">Thông Điệp</label>
						<textarea name="Message" class="form-control" placeholder="" required=""> </textarea>
					</div>
					<div class="row d-flex justify-content-center border-primary my-3">
						<button type="button" class="btn btn-primary" style="font-size:large;">Gửi đi</button>
					</div>
				</div>
			</form>
			<!-- //form -->
		</div>
	</div>
	<!-- //contact -->
    	<!-- map -->
	<div style="align-items: center; vertical-align: auto; text-align: center;" >
		<iframe  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15673.46081138003!2d106.6946237!3d10.8598029!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xec48f5a17b7d5741!2zTmd1eeG7hW4gVOG6pXQgVGjDoG5oIFVuaXZlcnNpdHk!5e0!3m2!1sen!2s!4v1621589558200!5m2!1sen!2s" width="80%" height="300px"   style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
	</div>
	<!-- //map -->