<div class="section" id="breadcrumb">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb-tree">
            <li><a href="/">Trang Chủ</a></li>
            <li>Giới Thiệu</li>
          </ul>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
<!-- SECTION -->
	<!-- //page -->
	<!-- about -->
	<div class="welcome py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>G</span>iới
				<span>T</span>hiệu</h3>
			<!-- //tittle heading -->
			<div class="row">
				<div class="col-lg-6 welcome-left">
					<h3>Xin Chào</h3>
					<h4 class="my-sm-3 my-2">Công Ty TNHH Thương Mại Dịch Vụ Quốc Tế ElectronicH được thành lập vào năm 2021 trong bối cảnh nền kinh tế Việt Nam và thế giới gặp vô vàn khó khăn và thách thức. Vì thế tập thể quản lý và nhân viên của Công ty luôn ý thức được rằng Khách hàng chính là nguồn sống của doanh nghiệp. Đội ngũ Công ty luôn chú trọng đến lợi ích và nhu cầu của người tiêu dùng. 
                        Nhờ đó, Homed luôn nằm trong top những nhà phân phối phát triển nhanh và ổn định trong hệ thống phân phối hàng điện máy gia dụng chính hãng.</h4>
					<p>Tầm nhìn: Trở thành công ty thương mại điện tử phân phối hàng điện máy hàng đầu TPHCM.</p>
				</div>
				<div class="col-lg-6 welcome-right-top mt-lg-0 mt-sm-5 mt-4">
					<img src="../../../assets/img/ab.jpg" class="img-fluid" alt="Khống có hình ">
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->

	<!-- testimonials -->
	<div class="testimonials py-sm-5 py-4">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center text-white mb-lg-5 mb-sm-4 mb-3">
				<span>C</span>am
				<span>K</span>ết
		    </h3>
			<!-- tittle heading -->
			<div class="row gallery-index">
				<div class="col-sm-6 med-testi-grid">
					<div class="med-testi test-tooltip rounded p-4">
						<p>"Tất cả nguyên liệu đều có nguồn gốc xuất xứ rõ ràng, minh bạch, chính hãng từ các nhà sản xuất và các nhà nhập khẩu. 
							Tuyệt đối không bán hàng giả, hàng nhái thương hiệu, hàng kém chất lượng."</p>
					</div>
					<div class="row med-testi-left my-5">
						<div class="col-lg-2 col-3 w3ls-med-testi-img">
							<img src="../../../assets/img/user.jpg" alt=" không có hình" class="img-fluid rounded-circle" />
						</div>
						<div class="col-lg-10 col-9 med-testi-txt">
							<h4 class="font-weight-bold mb-lg-1 mb-2"><span>Cam kết về sản phẩm</span></h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6 med-testi-grid">
					<div class="med-testi test-tooltip rounded p-4">
						<p>"Thái độ phục vụ: Trung thực với khách hàng, chữ Tín luôn đặt lên hàng đầu. Chúng tôi phục vụ bằng cả trái tim và sự trân trọng cao nhất.
						 Tuân thủ pháp luật Việt Nam về bán hàng và bảo vệ quyền lợi người tiêu dùng."</p>
					</div>
					<div class="row med-testi-left my-5">
						<div class="col-lg-2 col-3 w3ls-med-testi-img">
							<img src="../../../assets/img/user.jpg" alt="không có hình" class="img-fluid rounded-circle" />
						</div>
						<div class="col-lg-10 col-9 med-testi-txt">
							<h4 class="font-weight-bold mb-lg-1 mb-2">Cam Kết về Dịch Vụ</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6 med-testi-grid">
					<div class="med-testi test-tooltip rounded p-4">
						<p>"Sản phẩm bán ra cạnh tranh nhất trên thị trường khi so sánh với đơn vị khác. Linh hoạt về giá cho từng đối tượng khách hàng.
							Hỗ trợ tối đa cước phí vận chuyển, công nợ, chiết khấu giảm trực tiếp trên giá bán.</p>
					</div>
					<div class="row med-testi-left mt-sm-5 my-5">
						<div class="col-lg-2 col-3 w3ls-med-testi-img">
							<img src="../../../assets/img/user.jpg" alt="không có hình" class="img-fluid rounded-circle" />
						</div>
						<div class="col-lg-10 col-9 med-testi-txt">
							<h4 class="font-weight-bold mb-lg-1 mb-2">Cam Kết Giá Cạnh Tranh Nhất</h4>
						</div>
					</div>
				</div>
				<div class="col-sm-6 med-testi-grid">
					<div class="med-testi test-tooltip rounded p-4">
						<p>"Hậu mãi về sản phẩm và dịch vụ với thái độ chuyên nghiệp, tận tâm. 
							Sản phẩm bán ra luôn được bảo hành theo quy định của nhà sản xuất. Dịch vụ thi công cung cấp có kèm phụ lục bảo hành gắn liền với Hợp đồng"</p>
					</div>
					<div class="row med-testi-left mt-5">
						<div class="col-lg-2 col-3 w3ls-med-testi-img">
							<img src="../../../assets/img/user.jpg" alt="không có hình" class="img-fluid rounded-circle" />
						</div>
						<div class="col-lg-10 col-9 med-testi-txt">
							<h4 class="font-weight-bold mb-lg-1 mb-2">Cam kết hậu mãi sản phẩm và dịch vụ</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //testimonials -->
  <!-- /container -->
  
  <!-- /SECTION -->