<div class="section" id="breadcrumb">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="/">Trang Chủ</a></li>
                    <li>Tin Tức</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<div class="container">
    <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
        <span>T</span>in
        <span>T</span>ức
    </h3>
    <!-- //tittle heading -->
    <div class="container">
        <div class="row">
            <!--.-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="card" id="zoom">
                    <img class="card-img-top" src="../../../assets/img/n1.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">ƯU ĐÃI MASTERCAED LÊN ĐẾN 3 TR</h5>
                        <p class="card-text">Chương trình diễn ra đến 09/01/2022.</p>
                        <div class="row d-flex justify-content-center border-primary my-3">          
                            <a href="#" class="btn btn-primary">Xem chi tiết</a>
                       </div>
                    </div>
                </div>
            </div>
            <!--.-->
            <!--.-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="card" id="zoom">
                    <img class="card-img-top" src=".../../../assets/img/n2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">ƯU ĐÃI THỂ TÍN DỤNG FE CREDIT GIẢM 500K</h5>
                        <p class="card-text">Chương trình diễn ra đến 09/01/2022.</p>
                        <div class="row d-flex justify-content-center border-primary my-3">          
                             <a href="#" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--.-->
        </div>
        <hr>
        <div class="row">
            <!--.-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="card" id="zoom">
                    <img class="card-img-top" src="../../../assets/img/n3.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">SALE ĐẬM CUỐI NĂM, THẢ GA MUA SẮM</h5>
                        <p class="card-text">Chương trình diễn ra đến 09/01/2022.</p>
                        <div class="row d-flex justify-content-center border-primary my-3">          
                            <a href="#" class="btn btn-primary">Xem chi tiết</a>
                       </div>
                    </div>
                </div>
            </div>
            <!--.-->
            <!--.-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="card" id="zoom">
                    <img class="card-img-top" src="../../../assets/img/n4.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">RỘN RÀNG LỄ HỘI - QUẢ TẶNG ĐẾN 32TR</h5>
                        <p class="card-text">Chương trình diễn ra đến 09/01/2022.</p>
                        <div class="row d-flex justify-content-center border-primary my-3">          
                            <a href="#" class="btn btn-primary">Xem chi tiết</a>
                       </div>
                    </div>
                </div>
            </div>
            <!--.-->
        </div>
    </div>
</div>