<!-- BREADCRUMB -->
<div class="section" id="breadcrumb">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12">
          <ul class="breadcrumb-tree">
            <li><a href="/">Trang Chủ</a></li>
            <li><a href="#">{{product.category}}</a></li>
            <li class="active">{{product.name}}</li>
          </ul>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /BREADCRUMB -->
  
  <!-- SECTION -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row d-flex">
        <!-- Product main img -->
        <div class="col-md-5 col-md-push-2">
          <div id="product-main-img">
            <ng-template [ngIf]="thumbImages.length === 0">
              <div class="product-preview">
                <img [src]="product.image" alt="">
              </div>
            </ng-template>
            <ng-template [ngIf]="thumbImages.length > 0">
              <div class="product-preview" *ngFor="let t of thumbImages">
                <img [src]="t" alt="">
              </div>
            </ng-template>
          </div>
        </div>
        <!-- /Product main img -->
  
        <!-- Product thumb imgs -->
        <div class="col-md-2  col-md-pull-5 ">
         <ng-template [ngIf]="thumbImages.length > 0">
           <div id="product-imgs">
             <div *ngFor="let t of thumbImages" class="product-preview">
               <img [src]="t" alt="">
             </div>
           </div>
         </ng-template>
          <ng-template [ngIf]="thumbImages.length === 0">
            <div id="product-imgs">
              <div class="product-preview">
                <img [src]="product.image" alt="">
              </div>
            </div>
          </ng-template>
        </div>
        <!-- /Product thumb imgs -->
  
        <!-- Product details -->
        <div class="col-md-5">
          <div class="product-details">
            <h2 class="product-name">{{product?.name}}</h2>
            <div>
              <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <a class="review-link" href="#">10 lượt Review | Thêm lượt Review</a>
            </div>
            <div>
              <h3 class="product-price">{{product?.price | currency:'VND'}} </h3>
              <span class="product-available">Còn hàng</span>
            </div>
            <p>{{product?.description}}</p>
  
  
            <div class="add-to-cart">
              <div class="qty-label">
                Số Lượng
                <div class="input-number">
                  <input #quantity [max]="product?.quantity" [min]="product?.quantity >= 1 ? product?.quantity : 0"
                         readonly type="number" value="{{product?.quantity >= 1 ? 1 : 0}}">
                  <span (click)="Increase()" class="qty-up">+</span>
                  <span (click)="Decrease()" class="qty-down">-</span>
                </div>
              </div>
              <button (click)="addToCart(product?.id)" *ngIf="product?.quantity >= 1" class="add-to-cart-btn"><i
                class="fa fa-shopping-cart"></i>Thêm vào Giỏ hàng
              </button>
            </div>
  
            <ul class="product-links">
              <li>Sản phẩm nổi bật:</li>
              <li><a href="#">{{product?.category}}</a></li>
            </ul>
  
            <ul class="product-links">
              <li>Chia sẽ:</li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
  
          </div>
        </div>
        <!-- /Product details -->
  
        <!-- Product tab -->
        <div class="col-md-12">
          <div id="product-tab">
            <!-- product tab nav -->
            <ul class="tab-nav" role="tablist">
              <li class="active" role="presentation"><a data-toggle="tab" href="#tab1" role="tab">Mô Tả</a></li>
              <li role="presentation"><a data-toggle="tab" href="#tab2" role="tab">Chi Tiết</a></li>
              <li role="presentation"><a data-toggle="tab" href="#tab3" role="tab">Nhận Xét</a></li>
            </ul><br><br>
            <!-- /product tab nav -->
          </div>
        </div>
        <!-- /product tab -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /SECTION -->
  
  
  