<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">About Us</h3>
              <p>Siêu thị điện tử với các mặt hàng điện tử cùng với các sản phẩm thương mại khác đang được cửa hàng bán nhằm đáp ứng nhu cầu người dùng.</p>
              <ul class="footer-links">
                <li><a href="#"><i class="fa fa-map-marker"></i>300A, Nguyễn Tất Thành</a></li>
                <li><a href="#"><i class="fa fa-phone"></i>+0327.070.875</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
              </ul>
            </div>
          </div>
  
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Mặt Hàng</h3>
              <ul class="footer-links">
                <li><a [routerLink]="['/all-product']">Máy Lạnh</a></li>
                <li><a [routerLink]="['/all-product']">Máy Giặt</a></li>
                <li><a [routerLink]="['/all-product']">Ti Vi</a></li>
                <li><a [routerLink]="['/all-product']">Tủ Lạnh</a></li>
              </ul>
            </div>
          </div>
  
          <div class="clearfix visible-xs"></div>
  
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Thông Tin</h3>
              <ul class="footer-links">
                <li><a [routerLink]="['/about']">Giới thiệu</a></li>
                <li><a [routerLink]="['/contact']" >Liên Hệ</a></li>
                <li><a [routerLink]="['/privacy']">Chính Sách</a></li>
                <li><a [routerLink]="['/term']" >Điều Khoản</a></li>
              </ul>
            </div>
          </div>
  
          <div class="col-md-3 col-xs-6">
            <div class="footer">
              <h3 class="footer-title">Dịch vụ</h3>
              <ul class="footer-links">
                <li><a href="#">Tài khoản</a></li>
                <li><a [routerLink]="['/all-product']" >Sản Phẩm</a></li>
                <li><a [routerLink]="['/cart']">Giỏ hàng</a></li>
                <li><a [routerLink]="['/help']" >Trợ giúp</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /top footer -->
  
    <!-- bottom footer -->
    <div id="bottom-footer" class="section">
      <div class="container">
        <!-- row -->
        <div class="row">
          <div class="col-md-12 text-center">
            <ul class="footer-payments">
              <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
              <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
              <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
              <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
              <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
              <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
            </ul>
            <span class="copyright">
                                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                  Copyright @ 2018-2022 | Website được thiết kế bởi <i class="fa fa-heart-o" aria-hidden="true"></i><a href="" target="_blank"> &nbsp; Nguyễn Duy Khang</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                              </span>
          </div>
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /bottom footer -->
  </footer>
  <!-- /FOOTER -->
  